
.l_header
  @media screen and (max-width: $device-2k)
    left: 0 !important
    border-radius: 0 !important
    max-width: 100% !important


// 添加透明度
#l_header
  background-color: rgba(255,255,255,1.0)
#l_main .post,
#l_side .widget
  background-color: rgba(255,255,255,1.0)
  box-shadow: 0 4px 10px -4px #ebedf0
// 文章不透明
#post.post
  background-color: var(--color-card)